<div class="search">
    <div>
        <label for="searchStatus">Status</label>
        <select id="searchStatus" name="searchStatus" ng-model="searchParameters.status"
                ng-options="item as item for item in statusList">
            <option value="">All Statuses</option>
        </select>
    </div>
</div>
<div class="datagrid">
<table>
    <thead>
        <th>Tournament Name</th>
        <th>Team Name</th>
        <th>Entry Fee</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Check #</th>
        <th>Check Date</th>
        <th>Actions</th>
    </thead>
    <tfoot>
        <tr>
            <td colspan="8">
                <div>
                <ul>
                    <li>
                        <a ui-sref="addTournamententry">Add Tournament Entry</a>
                    </li>
                </ul>
                <ng-include src="'partials/pagination.html'"/>
                </div>
            </td>
        </tr>
    </tfoot>
    <tbody>
    <tr ng-repeat="tournamententry in tournamententrys | orderBy:'name'" ng-class-even="class='alt'">
        <td><a ui-sref="editTournamententry({objectLink: '{{tournamententry._links.self.href}}', dateProperties: ['checkDate'] })">{{tournamententry.tournamentName}}</a></td>
        <td>{{tournamententry.teamName}}</td>
        <td>{{tournamententry.entryFee | currency}}</td>
        <td>{{tournamententry.priority}}</td>
        <td>{{tournamententry.status}}</td>
        <td>{{tournamententry.checkNumber}}</td>
        <td>{{tournamententry.checkDate| date : 'MM/dd/yyyy'}}</td>
        <td>
            <a class="button" ng-click="deleteObject(tournamententry)">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
