<div class="search">
    <!--Sidebar content-->
    Search: <input ng-model="searchParameters.name" size="24">
</div>
<div class="datagrid">
<table>
    <thead>
        <th>Name</th>
        <th>Location</th>
        <th>Start Date</th>
        <th>Event System</th>
        <th>Actions</th>
    </thead>
    <tfoot>
        <tr>
            <td colspan="5">
                <div>
                <ul>
                    <li>
                        <a ui-sref="addTournament">Add Tournament</a>
                    </li>
                </ul>
                <ng-include src="'partials/pagination.html'"/>
                </div>
            </td>
        </tr>
    </tfoot>
    <tbody>
    <tr ng-repeat="tournament in tournaments" ng-class-even="class='alt'">
        <td><a ui-sref="editTournament({objectLink: '{{tournament._links.self.href}}', dateProperties: ['startDate'] })">{{tournament.name}}</a></td>
        <td>{{tournament.location}}</td>
        <td>{{tournament.startDate| date : 'MM/dd/yyyy'}}</td>
        <td>{{tournament.eventSystem}}</td>
        <td>
            <a class="button" ng-click="deleteObject(tournament)">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
